<div class="root">
  <div class="title">
    Proyecto MQTT Raspberry Pi-TO VrGA
  </div>

  @if (!neutered) {
    <div class="content-holder">
      <div class="google-maps">
        <google-map  [center]="markers[0].position" width="43.75vw" height="80vh" [zoom]="initialZoom"
        >
          @for (marker of markers; track $index) {
            <map-marker
            [position]="marker.position"
            [label]="marker.label"
            [title]="title"
            (mapClick)="onMarkerClick(marker)">
          </map-marker>
          }
        </google-map>
      </div>
      @if (datapointClicked) {
        <div class="charts-holder">
          @for (dataset  of lineChartData.datasets; track $index) {
            <div class="chart-itself">
              <canvas baseChart
              [type]="'line'"
              [datasets]="[dataset]"
              [options]="lineChartOptions"
              [labels]="lineChartData.labels"
              [legend]="lineChartLegend"
              >
              </canvas>
            </div>
        }
        <div class="chart-description">
          <p>TVOC (Total Volatile Organic Compounds) se refiere a la concentracion de productos volatiles organicos en el aire.  Estos incluyen productos de limpieza, Emisiones de vehiculos o pinturas.</p>
          <br>
          <p>AQI (Air Quality Index) es una escala numerica indicando que tan contaminada esta el aire. Mientras mayor sea, mas contaminacion hay</p>
        </div>
      
      </div>
      }   
      @else {
        <div class="no-chart-selected">
          <p>
            Seleccione un marcador.
          </p>
        </div>
      }
  
    </div>
  }
  @else {
    <div class="charts-holder-neutered">
      @for (dataset  of lineChartData.datasets; track $index) {
        <div class="chart-itself">
          <canvas baseChart
          [type]="'line'"
          [datasets]="[dataset]"
          [options]="lineChartOptions"
          [labels]="lineChartData.labels"
          [legend]="lineChartLegend"
          >
          </canvas>
        </div>
    }
  </div>
  }
</div>



