<div class="root">
  <div class="title">
    Proyecto MQTT Raspberry Pi-TO VrGA
  </div>

  @if (!neutered) {
    <div class="content-holder">
      <div class="google-maps">
        <google-map  [center]="markers[0].position" width="43.75vw" height="80vh" [zoom]="initialZoom"
        >
          @for (marker of markers; track $index) {
            <map-marker
            [position]="marker.position"
            [label]="marker.label"
            [title]="title"
            (mapClick)="onMarkerClick(marker)">
          </map-marker>
          }
        </google-map>
      </div>
      @if (datapointClicked) {
        <div class="charts-holder">
          @for (dataset  of lineChartData.datasets; track $index) {
            <div class="chart-itself">
              <canvas baseChart
              [type]="'line'"
              [datasets]="[dataset]"
              [options]="lineChartOptions"
              [labels]="lineChartData.labels"
              [legend]="lineChartLegend"
              >
              </canvas>
            </div>
        }
        <div class="chart-description">
          <p>TVOC (Total Volatile Organic Compounds) se refiere a la concentracion de productos volatiles organicos en el aire.  Estos incluyen productos de limpieza, Emisiones de vehiculos o pinturas.</p>
          <br>
          <p>AQI (Air Quality Index) es una escala numerica indicando que tan contaminada esta el aire. Mientras mayor sea, mas contaminacion hay</p>
        </div>
      
      </div>
      }   
      @else {
        <div class="no-chart-selected">
          <p>
            Seleccione un marcador.
          </p>
        </div>
      }
  
    </div>
  }
  @else {
    <div class="charts-holder-neutered">
      @for (dataset  of lineChartData.datasets; track $index) {
        <div class="chart-itself">
          <canvas baseChart
          [type]="'line'"
          [datasets]="[dataset]"
          [options]="lineChartOptions"
          [labels]="lineChartData.labels"
          [legend]="lineChartLegend"
          >
          </canvas>
        </div>
    }
  </div>
  }


  <div class="desc-actual">
    <div class="desc-holder">
      <h1>Que es AQUI</h1>
      <p>AQUI (Air Quality Index, 1-5): Índice de calidad del aire basado en la concentración de contaminantes. Los niveles son:</p>
      <p>
        1: Excelente
       </p>
      <p>
        2: Bueno       
      </p>
      <p>
        3: Moderado       
      </p>
      <p>
        4: Pobre
      </p>
      <p>
        5: No saludable
      </p>
    </div>
    <div class="desc-holder">
      <h1>Que es TVOC?</h1>
      <p>Mide la concentración total de compuestos orgánicos volátiles en el aire. Los niveles típicos son:
        </p>
      <p>
        Menos de 50 ppb: Sin efecto
      </p>
      <p>
        50-750 ppb: Inquietud y malestar        
      </p>
      <p>
        750-6000 ppb: Inquietud y dolor de cabeza
      </p>
      <p>        
        >6000 ppb: Dolores de cabeza y problemas nerviosos
      </p>
    </div>
    <div class="desc-holder">
      <h1>Que es CO2?</h1>
      <p>
        Mide el dióxido de carbono equivalente. Este valor se calcula en base a la concentración de compuestos orgánicos volátiles (VOCs) y el hidrógeno.
      </p>
      <p>
        Los niveles típicos son:       
      </p>
      <p>
        400-600 ppm: Excelente       
      </p>
      <p>
        600-800 ppm: Bueno       
      </p>
      <p>
        800-1000 ppm: Moderado
      </p>
      <p>        
        1000-1500 ppm: Pobre
      </p>
      <p> 
        >1500 ppm: No saludable
      </p>
    </div>
    <div class="desc-holder">
      <h1>Que es Temperatura?</h1>
      <p>Medicion de la temperatura ambiente en Celcius.</p>
    </div>
    <div class="desc-holder">
      <h1>Que es Humedad?</h1>
      <p>Medicion de la humedad en el ambiente.</p>
    </div>
  </div>
</div>



